*,::before,::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.footer{
    width: 100%;
    background: #000;
    &__container{
        max-width: 1100px;
        min-height: 80px;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin:0 auto;
        
    }
    margin-bottom: 20px;
}
.header{
    width: 100%;
    background: #000;
    &__container{
        max-width: 1100px;
        min-height: 80px;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin:0 auto;
        a{
            text-decoration: none;
            color: inherit;
            border:2px solid white;
            padding: 10px 20px;
            border-radius:14px;
            cursor: pointer;
        }
        
    }
    margin-bottom: 50px;
}

.brand{
    width: 100%;
    height: auto;
    flex-grow:1 ;
    &__container{
        margin:0 auto;
        max-width: 1100px;
    }
    &__row{
        display: flex;
        gap:20px;
    }
    &__item{
        flex:0 0 350px;
       height: auto;
       transition: all 300ms ease;
        :hover{
            box-shadow: 0 0 10px  black;
        }
        &-link{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    
    &__img{
       width: 350px;
       height: 300px;
        position: relative;
        margin-bottom: 20px;

        img{
            position: absolute;
            top:0;
            left:0;
           max-width: 100%;
            height: 100%;
            object-fit: cover;
        
        }
    }
    &__name{
        color: #000;
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
    }

}

.velo-order{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.choice-velo{
    flex-grow: 1;
    width: 100%;
    &__container{
        max-width: 1100px;
        margin:0 auto;
    }
    &__row{
        width: 100%;
        display: flex;
    }
    &__item{
        flex:0 1 300px;
        border:1px solid black;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        transition: all 300ms ease;
        &:hover{
            transform:translateY(-10px);
        }
    }
    &__img{
        max-width: 200px;
        margin: 10px auto;

        img{
            max-width: 100%;
        }
    }
    &__data{
        display:flex;
        justify-content: space-between;
        margin:10px ;
        span{
            font-weight: 800px;
            color:black;
        }
    }
    &__desc{
        max-width: 280px;
       margin:20px auto;
       font-size: 16px;

        
    }
    &__btn{
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:20px auto;
        background: #000;
         color: white;
         border-radius:15px;
         outline: none;
         border: none;
         cursor: pointer;
         &:hover{
             background: white;
             color:#000;
             border:1px solid black;
         }

    }
    &__form{
        width: 90%;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 10px 0px;
        select{
            width: 100%;
            height: 100%;
        }
    }
}


/*********************************************/

.order{
    width:100%;
    &__container{
        max-width: 1100px;
        margin:0px auto;
      

    }
    &__row{
        display: flex;
        margin-bottom: 50px;
    }
    &__img{
        flex:0 1 500px;
        height: auto;
        img{
            max-width: 100%;
            object-fit: cover;
        }
    }
    &__body{
      
        flex:1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center; 
        gap:50px;
        font-size: 30px;
    }

    &__buttons{
        max-width: 400px;
        margin:auto;
        display: flex;
        
    }

    
    
    &__btn{
        display: block;
        width: 150px;
        height: 40px;
        background: #000;
        color: white;
        margin:15px auto;
        border:none;
        outline: none;
        border-radius:15px;
        cursor: pointer;
        font-size: 20px;
        &--off{
            background: red;
            color: white;
            display: none;
        }
        &:hover{
            background-color: white;
            color: black;
            border:1px solid black;
        }

    }
}



body{
    display: flex;
    max-height: 100vh;
    flex-direction: column;
    section{
        flex-grow: 1;
    }
}